{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tailwindConfig": "./tailwind.config.js",
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "jsxSingleQuote": false,
        "bracketSameLine": false
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
